img {display: block;margin: auto;width: 50%;}
html {margin: auto;background-image: url('Images/general_background.png');background-attachment: fixed;}
body {background-color: #bbb;font-family: serif;margin: auto;border: double black;width: 80%;}
main {width: 75%;margin: auto;margin-top: 50px;}
header {margin: 0;border-bottom: 2px solid black;}
header h1 {margin: 0;padding: .5em 0;color: black;font-family: serif;font-weight: none;}

h1, h2 {text-align: center;font-family: 'Black Ops One', serif, cursive;}
h1, h2, h3, h4 {text-align: center;}
h1 {color: #821583;}
h2 {color: #A569BD; font-family: 'Audiowide', serif, cursive;}
h3 {color: #152283; font-family: 'Fugaz One', serif, cursive;}
h4 {color: #5f71fb; font-family: 'Fugaz One', serif, cursive;}

table{width:100%;}
table, th, td {border: 1px solid black;border-collapse: collapse;text-align: center;vertical-align: center;border-spacing: 5px;font-family: serif;}
th {background-color: #4CAF50;color: white;}

form {text-align: left;}
span {font-size: 125%;}
sup {font-size: 80%;}

blockquote.translate {color:#909;}
blockquote.translate sup {color:#000;}
blockquote {text-align: center;background-color: #bbb;border: none;/*font-size: 90%;*/}
.explain {color:#909;}
blockquote.explain {font-size: 95%; color:#909;}
blockquote.explain sup {color:#000;}
blockquote.left {text-align: left;}

aside a:link {color: white;}
a:hover {color: #06B807;}

.btn-group-justified {width: 100%;}
.btn{white-space:normal !important;word-wrap:break-word;word-break: normal;}
div.sidenav_left {position: fixed;width: 8%;}
div.sidenav_left a button {word-break: break-all !important;word-break: keep-all !important;word-wrap: break-word;white-space: normal;}
div.sidenav_left ul, div.sidenav_left li{width: 8%;}
nav.sidenav_left ul {list-style-type: none;padding: 0;width: 8%;background-color: #d5d5d5;border: 1px solid #555;height: auto;position: fixed;overflow: auto;float: right;}

nav.sidenav_left li a {display: block;color: #000;padding: 8px 16px;text-decoration: none;}
nav.sidenav_left li {text-align: center;border-bottom: 1px solid #555;}
nav.sidenav_left ul {text-align: center;}
nav.sidenav_left li:last-child {border-bottom: none;}
nav.sidenav_left li a.active {background-color: #4CAF50;color: white;}
nav.sidenav_left li a:hover:not(.active) {background-color: #555;color: white;}
/*nav.topnav{list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;border: gray;}*/

ul.topnav {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;}
ul.topnav li {float: left;}
ul.topnav li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li a.active {background-color: #4CAF50;}
ul.topnav li.right {float: right;}

li {border-right: 1px solid #bbb;}
.hidden {display: none;}
.plasma {font-family: 'Amita', serif, cursive; color:red;}
.gas {font-family: 'Fugaz One', serif, cursive; color:#35A3C3;}
.liquid {font-family: 'Audiowide', serif, cursive; color:#7f7f7f;}
.solid {font-family: 'Black Ops One', serif, cursive; color:#892A2A;}
.space {font-family: 'Griffy', serif, cursive; color:#000;}

@media screen and (max-width: 600px){ul.topnav li.right,ul.topnav li {float: none;}}
li a, .dropbtn {display: inline-block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
li a.dropdown:hover .dropbtn {background-color: red;}li.dropdown {display: inline-block;}li.dropdown_right {display: run-in;}
.backward {display: inline-block;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);transform: scale(-1, 1);}

@font-face{font-family: Xeheixw;src: url('Languages/Xeheixw.ttf'),url('Xeheixw.eot');}
@font-face{font-family: Jovian;src: url('Languages/Jovian.ttf'),url('Jovian.eot');}
@font-face{font-family: BSSYM7;src: url('Languages/BSSYM7.ttf'),url('BSSYM7.eot');}
@font-face{font-family: Plutonian;src: url('Languages/Plutonian.ttf'),url('Plutonian.eot');}
.xeheixw {font-family: 'Xeheixw', Times, serif; font-size: 105%;}
.jovian {font-family: 'jovian', Times, serif; font-size: 105%;}
.BSSYM7 {font-family: 'BSSYM7', Times, serif; font-size: 105%;}
.plutonian {font-family: 'Plutonian', Times, serif; font-size: 105%;}

.box {border-style: double;}
ul.cir {list-style-type: circle;}ul.squ {list-style-type: square;}ul.a {list-style-image: url('sqpurple.gif');}ol.rom {list-style-type: upper-roman;}ol.abc {list-style-type: lower-alpha;}
.dropdown-content {display: none;position: absolute;background-color: #8a8a8a;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;text-align: left;}
.dropdown-content a:hover {background-color: #fff}
.dropdown:hover .dropdown-content {display: block;}iframe {display: block; margin: auto;}