html {margin: auto;
	background-image: url('general_background.png');
	background-attachment: fixed;}
body {width: 80%;}
body main, body aside {font-family: serif;
	margin: auto;
	border: double black;
	background-color: #bbb;}
aside {position: fixed; width: 10%;}
main {width: 70%;
	margin: auto;
	margin-top: 50px;}
header {margin: 0;
	border-bottom: 2px solid black;}
header h1 {margin: 0;
	padding: .5em 0;
	color: black;
	font-family: serif;
	font-weight: none;}

h1, h2 {text-align: center; font-family: 'Black Ops One', serif, cursive;}
h1, h2, h3, h4 {text-align: center;}
h1 {color: #821583;}
h2 {color: #A569BD; font-family: 'Audiowide', serif, cursive;}
h3 {color: #152283; font-family: 'Fugaz One', serif, cursive;}
h4 {color: #5f71fb; font-family: 'Fugaz One', serif, cursive;}

table{width:100%;}
table, th, td {border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	vertical-align: center;
	border-spacing: 5px;
	font-family: serif;}
th {background-color: #4CAF50; color: white; border: 1px solid black;}

.backward {display: inline-block;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);transform: scale(-1, 1);}